src/Makefile
webgrab/Makefile
Makefile.*
*.pri
*~
object_script.*

build
build-*
release-*
*pro.user*
missfont.log

debian/eln.debhelper.log
debian/eln
userguide.log
userguide.aux
userguide.pdf
debian/eln.substvars
debian/files
eln_debug
octave-core

.DS_Store
*.app
.qmake.stash
*.dmg
Info.plist
