Source: eln
Section: editors
Priority: optional
Maintainer: Daniel Wagenaar <daniel.wagenaar@uc.edu>
Build-Depends: debhelper (>= 9.0.0), libqt4-dev (>= 4.8.0), qt4-qmake (>= 4.8.0),libqtwebkit-dev (>= 2.2.1), texlive-latex-base (>= 2014.20141024)
Standards-Version: 3.9.6
Homepage: http://www.danielwagenaar.net/eln

Package: eln
Architecture: any
Depends: ${shlibs:Depends},${misc:Depends}, libqtcore4 (>= 4.8), libqtgui4 (>= 4.8), libqtwebkit4 (>= 2.3.2)
Description: Electronic Lab Notebook
 ELN is a simple electronic lab notebook with an emphasis on solid data storage.