[Desktop Entry]
Name=eln
GenericName=Electronic Lab Notebook
Comment=Electronic Lab Notebook
Exec=eln %f
Terminal=false
Type=Application
Categories=Office
Icon=/usr/share/pixmaps/eln.png
MimeType=application/eln-book
